

/* contains header and main */
.body{
    display: flex;
    column-width: 712px;
    padding-top: 90px;
    padding-left: 311.5px;
    padding-right: 311.5px;
    column-gap: 50px; 

}

/* header / left side */

.title-box{
    display: flex;
    flex-direction: column;
    min-width: 528px;
    color: #e2e8f0;
    position:fixed;
}
.scroll-to-section{
    color:orange,

}
#sec1Title{
    color: aquamarine;
    font-size: 35px;
    text-decoration:underline;
}
.name{
    font-size: 48px;
    margin: 0px;
    color: aliceblue;
    text-decoration: none;
}
.name:hover{
    color: aquamarine;
}
.mission{
    font-size: 15px;
    width: 312px;
    overflow-wrap:break-word;
    opacity: 70%;
}
.icons{
    display: flex;
    padding-top: 200px;
    font-size: 35px;
    column-gap: 16px;
    padding-left: 0px;
}
.iconsColor{
    color: aquamarine;
}
.iconsColor:hover{
    opacity: 60%;
}

/* main / right side  */

.pushDiv{
    color:#e2e8f0;
    padding-left: 532px;
    max-width: 624px;
    overflow-wrap:break-word;
}

.question{
    font-size: 20px;
    margin: 0%;
}
.answers{
    opacity: 70%;
}