::-webkit-scrollbar{
    background-color:#0f172a;

}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(aquamarine,grey);
    border-radius:1.875rem;
}
#footer{
    color: aliceblue;
    opacity: 60%;
}